# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    gripper_controller:
      type: forward_command_controller/ForwardCommandController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - Fixed_Base_rot_1
      - Rotary_Base_rot_2
      - BC_Connecting_Rod_rot_3
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
gripper_controller:
  ros__parameters:
    joints:
      - Jaw_Bracket_rot_6
    # command_interfaces:
    #   - position
    # state_interfaces:
    #   - position
    #   - velocity
    interface_name: position